<div class="container action-form">
    <div class="jumbotron">
        <h1>⚡️ <%= title %> ⚡️</h1>
        <p>Node ID: <%= id %></p>
        <p>Network: <%= network %></p>
        <p>Connected Nodes: <%= num_peers %></p>
        <p>Pending Channels: <%= num_pending_channels %></p>
        <p>Active Channels: <%= num_active_channels %></p>
        <p>Fees Collected: <%= fees_collected_msat %></p>
        <p>Connect to Node: <%= connectToNode %></p>
        <p>
            <a class="btn btn-lg btn-success" href="/receive" role="button">Request a payment &raquo;</a>
            <a class="btn btn-lg btn-primary" href="/send" role="button">Make a payment &raquo;</a>
        </p>
    </div>
</div>
<div class="container">
    <% if(transactions.length > 0) { %>
    <h2>Transactions: </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0;i < transactions.length; i++){ %>
                <tr>
                    <td><%= transactions[i].time  %></td>
                    <td><% if(transactions[i].type == 'receive') { %>
                        <span style="color: green"><%= transactions[i].type %></span>
                        <% } else if(transactions[i].type == 'send') { %>
                        <span style="color: red"><%= transactions[i].type  %></span>
                        <% } %>
                    </td>
                    <td><%= transactions[i].amount  %></td>
                    <td><%= transactions[i].desc  %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <h2>No transactions exist</h2>
    <% } %>
</div>