<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/styles/bootstrap.min.css' />
    </head>
    <body>

        <nav class="navbar navbar-default navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">cln-pay</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <!-- <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Balance=<%= availableBalance %></a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
      
          <div class="container">
      
            <div class="jumbotron">
              <h1><%= title %></h1>
              <p>Node ID: <%= id %></p>
              <p>Network: <%= network %></p>
              <p>Connected Nodes: <%= num_peers %></p>
              <p>Pending Channels: <%= num_pending_channels %></p>
              <p>Active Channels: <%= num_active_channels %></p>
              <p>Fees Collected: <%= fees_collected_msat %></p>
              <p>Connect to Node: <%= connectToNode %></p>
              <p>
                <a class="btn btn-lg btn-primary" href="/pay" role="button">Make payment &raquo;</a>
              </p>
            </div>
      
        </div>
        <div class="container">
        </div>
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        <script>
            jQuery(document).ready(function(){
                alert("hi")
            })
        </script>
    </body>
</html>